body {
  background-color: #111222;
}

h1 {
  font-family: 'Raleway', serif;
  color: #FFFFFF;
}

h2 {
  font-family: 'Inter', serif;
  color: #FFFFFF;
}

a {
  font-family: 'Inter', serif;
  color: #FFFFFF;
}